<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      LisTV
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-list lines="none">
      <ion-item>
        <ion-input clearInput [(ngModel)]="textoAdd" placeholder="Filme ou série..."></ion-input>
        <ion-button slot="end" color="secondary" (click)="adicionar()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>